.components-base-control.ghwp-editor-discreet-input,
.components-base-control.ghwp-editor-discreet-input--date {
    font-size: inherit;

    input,
    textarea,
    input.components-text-control__input {
        background-color: inherit;
        border: none;
        color: inherit;
        cursor: text;
        font-size: inherit;
        margin: 0;
        padding: 5px;
    }

    .components-base-control__field {
        margin: 0;
    }

}

.components-base-control.ghwp-editor-discreet-input--date input,
.components-base-control.ghwp-editor-discreet-input--inline input {
    min-width: 5rem;
    width: auto;
}


.components-base-control.ghwp-editor-discreet-input--inline {
    display: inline-block;
}


.wp-block:not(.is-selected) .ghwp-editor-discreet-input input[type="number"],
.wp-block:not(.is-selected) > aside.ghwp-counter .ghwp-editor-discreet-input input[type="number"]{
    appearance: textfield;
}
