@use '../variables';
@use '../mixins/responsive';

.wp-block-buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
}

.wp-block-button {
    &__link {
        background-color: rgba(#fff, 0.5);
        border-radius: 0;
        color: variables.$asw-accent-dark;
        line-height: 1;
        font-size: 1.2rem;
        padding: 0.5em;
        border: 3px solid variables.$asw-accent-dark;
        font-family: variables.$asw-font-body;
        transition: background-color 300ms 240ms ease-out,
            color 300ms 240ms ease-out;

        &:hover,
        &:focus {
            &,
            &:visited {
                background-color: variables.$asw-accent-dark;
                color: #fff;
            }
        }

        &:visited {
            color: variables.$asw-accent-dark;
        }
    }

    &.is-style-wide .wp-block-button__link {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 99vw;

        @include responsive.mq(variables.$lg) {
            width: 700px;
            min-width: 80%;
            max-width: 95%;
        }
    }

    &.is-style-cta .wp-block-button__link {
        padding: 2em;
    }

    &.is-style-cta-wide .wp-block-button__link {
        padding: 2em;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 99vw;

        @include responsive.mq(variables.$lg) {
            width: 700px;
            min-width: 80%;
            max-width: 95%;
        }
    }

    &.aligncenter {
        display: flex;
        justify-content: center;
    }
}
