@use '../variables';

.wp-block-button {
    &__link {
        background-color: rgba(#fff, 0.5);
        border-radius: 0;
        color: #40766d;
        line-height: 1;
        font-size: 1.2rem;
        padding: 0.5em;
        border: 3px solid #40766d;
        font-family: variables.$asw-font-body;
        transition: background-color 300ms 240ms ease-out,
            color 300ms 240ms ease-out;

        &:hover,
        &:focus {
            background-color: variables.$asw-accent-dark;
            color: #fff;
        }

        .wp-block-button.is-style-wide & {
            display: block;
            text-align: center;
            width: 700px;
        }
    }
}
