@use '../variables';
@use '../mixins/decorators';

.media-container {
    display: flex;
    justify-content: center;
    margin: {
        top: 50px;
        bottom: 50px;
    }

    iframe {
        @include decorators.with-glass-border;

        &.bandcamp {
            width: 700px;
        }

        &.soundcloud {
            height: 100%;
        }
    }

    .button {
        display: block;
        text-align: center;
        width: 700px;
        max-width: 100%;
    }
}

iframe.bandcamp {
    height: 150px;
    width: 700px;
}
