# Vendor files and 3rd party packages
/vendor/
theme/node_modules/

# Wordpress installation and instance data
public/wordpress/
public/wp-content/uploads/
public/wp-content/languages/
public/wp-content/plugins/
/**/debug.log

# Configuration
.env

# Backup files
/**/*.bak


# IDE
.idea/

# Builds
public/wp-content/themes/asillywalk/style.css*
public/wp-content/themes/asillywalk/style-editor.css*
public/wp-content/themes/asillywalk/js/editor.js*


