@use "theme-head";

@use '../node_modules/scss-resets/resets/normalize';

@use 'modules/fonts';
@use 'modules/typography';
@use 'modules/base';
@use 'util/smooth-scroll';

@use 'modules/links';
@use 'modules/buttons';
@use 'modules/event-archive';
@use 'modules/floating-menu';

@use 'modules/footer';
@use 'modules/header';
@use 'modules/section';
@use 'blocks/bandcamp-player';
@use 'blocks/events';
@use 'blocks/icon';
@use 'blocks/image';
@use 'blocks/lightboxes';
@use 'blocks/silly-gallery';

@use 'variables';

:root {
    --asw-color-primary: #{variables.$asw-accent-dark};
    --asw-color-secondary: #{variables.$asw-alt-01};
    --asw-color-tertiary: #{variables.$asw-alt-02};
    --asw-color-dark: variables.$asw-bg-black;
    --asw-color-light: variables.$asw-bg-white;
}
