<!-- Bandcamp: Unexpected EP -->
<div class="media-container media-container--bandcamp media-container--wide">
    <iframe
        class="bandcamp"
        src="https://bandcamp.com/EmbeddedPlayer/album=143617213/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/artwork=small/track=1396561732/transparent=true/"
        seamless
    >
        <a href="http://asillywalk.bandcamp.com/album/unexpected-ep">
            Unexpected EP by A Silly Walk
        </a>
    </iframe>
</div>
